@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}

:root{
  --fullwidth: 100%;
  --wrapper-width: 80%;
  --mobile-width: 90%;
  --secondary-color: #003612;
  --primary-color: #5BBC3D;
  --white-variant: #D9DBE7;
  --white: #ffffff;
}

body{
  background-color: var(--secondary-color);
  overflow: hidden;
}



/* APP.JSX CSS STARTS HERE */

.container{
  width: var(--fullwidth);
  background-color: var(--secondary-color);
}

.mainWrapper{
  width: var(--wrapper-width);
  margin-inline: auto;
}

/*APP.JSX CSS ENDS HERE*/